.site-entry {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  padding: 50px;
}

.site-entry__title {
  font-size: var(--fs-lg);
  text-decoration: underline;
}

.site-entry__input-wrapper {
  display: flex;
  gap: 30px;
}

.site-entry input {
  background-color: var(--light-gray);
  padding: 10px;
  width: 100%;
}

.site-entry__redirect {
  font-size: var(--fs-sm);
  font-family: var(--ff-light), sans-serif;
}

.site-entry a {
  text-decoration: underline;
}
