.header {
  box-shadow: var(--box-shadow-v1);
  background-color: var(--white);
}

.header__message,
.header__bottom {
  padding: 5px var(--pad-x);
}

.header__message {
  background: linear-gradient(to right, var(--blue), var(--yellow));
  font-weight: bolder;
  text-align: center;
  color: var(--white);
  font-size: var(--fs-xsm);
  transition: background-position 1s;
}

.header__bottom {
  display: grid;
  align-items: center;
  grid-template-columns: 0.5fr 1fr 0.5fr;
}

.logo {
  width: max-content;
  order: 1;
}

.nav {
  order: 2;
}

.shop-actions {
  display: flex;
  justify-content: end;
  gap: 15px;
  order: 3;
}

.shop-action__title {
  cursor: pointer;
  transition: opacity 0.5s;
}

.shop-action__title svg {
  fill: var(--lighter-black);
}

.shop-action__title:hover {
  opacity: 0.9;
}

@media (max-width: 870px) {
  .header__bottom {
    grid-template-columns: max-content 1fr max-content;
    gap: 20px;
  }

  .logo {
    order: 2;
    width: max-content;
  }

  .nav {
    order: 1;
  }
}
