.products {
  position: relative;
  display: grid;
  padding-top: 20px;
  padding-bottom: 20px;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

@media (max-width: 1200px) {
  .products {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 970px) {
  .products {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 630px) {
  .products {
    grid-template-columns: repeat(1, 1fr);
  }
}
